<section class="posts">
    <% page.posts.each(function (post) { %>

    <div class="post">
        <div class="post-meta">
            <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
        </div>

        <div class="post-title">
            <a class="post-title-link"
               href="<%- url_for(post.path) %>">
                <%= post.title %>
            </a>
        </div>

        <!--<% post.tags.each(function (tag) { %>-->
        <!--<%= tag.name %>-->
        <!--<% }) %>-->

    </div>

    <% }) %>
</section>

<%- partial('_partial/paginator') %>
