<!DOCTYPE html>
<html lang="<%= config.language %>>">

<%- partial('_partial/head') %>

<body>

<div class="page-wrapper">
    <%- partial('_partial/header') %>

    <%- partial('_partial/main') %>
</div>

<%- partial('_partial/footer') %>

</body>

</html>
