<article class="post-body">

    <div class="title">
        <h1 class="title-inner">
            <%= page.title %>
        </h1>

        <div class="title-meta">
            <span class="title-meta-time">
                <%- date(page.date, "YYYY-MM-DD") %>
            </span>
        </div>
    </div>

    <div class="content">

        <% /**
         * judge whether add toc part
         */ %>
        <% if(theme.post_toc) { %>
        <%- toc(page.content, {
            list_number: false
        }) %>
        <% } %>

        <%- page.content %>
    </div>

    <% /* ! TODO: fix here */ %>

    <% /**
     * show categories
     */ %>
    <% if (theme.is_show_categories) { %>
    <div class="categories">
        <% Object.keys(page.categories).forEach(function (category) { %>
        <a href="<%- url_for(category.path) %>">
            <% console.log(category) %>
            <%= category.name %>
        </a>
        <% }) %>
    </div>
    <% } %>

    <% /**
     * show tags
     */ %>
    <% if (theme.is_show_tags) { %>
    <div class="tags">
        <% page.tags.forEach(function (tag) { %>
        <a href="<%- url_for(tag.path) %>">
            <%= tag.name %>
        </a>
        <% }) %>
    </div>
    <% } %>

    <%- partial('_partial/prev_next') %>

</article>


