<article class="post-body">

    <div class="title">
        <h1 class="title-inner">
            <%= page.title %>
        </h1>

        <div class="title-meta">
            <span class="title-meta-time">
                <%- date(page.date, "YYYY-MM-DD") %>
            </span>
        </div>
    </div>

    <div class="content">

        <% /**
         * judge whether add toc part
         */ %>
        <% if(theme.post_toc) { %>
        <%- toc(page.content, {
            list_number: false
        }) %>
        <% } %>

        <%- page.content %>
    </div>

    <% /**
     * show categories
     */ %>
    <% if (theme.is_show_categories) { %>
    <% /* ! TODO: fix categories */ %>
    <% } %>

    <% /**
     * show tags
     */ %>
    <% if (theme.is_show_tags) { %>
    <% /* ! TODO: fix tags */ %>
    <% } %>

</article>

<%- partial('_partial/prev_next') %>
