<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <% /**
     * add google-site-verification meta if it exist
     */ %>
    <% if (theme.google_site_verification) { %>
    <meta name="google-site-verification"
          content="<%= theme.google_site_verification %>">
    <% } %>

    <% /**
     * add theme color meta if it exist
     * theme-color: add color for chrome browser's navbar
     */ %>
    <% if(theme.theme_color) { %>
    <meta name="theme-color" content="#<%= theme.theme_color %>">
    <% } %>

    <% /**
     * judge current page's title
     */ %>
    <%
    var title = page.title;
    if (is_home()) {
        title = '';
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    }
    %>

    <% /**
     * the last method:
     * - home: config.title
     * - post: page.title
     * - categories page: Categories | config.title
     *   - category page: <lang: category>: category_name | config.title
     * - tags page: Tags | config.title
     *   - tag page: <lang: category>: tag_name | config.title
     */ %>
    <title>
        <% if (title) { %>
        <%= title %>
        &nbsp;|&nbsp;
        <% } %>
        <%= config.title %>
    </title>

    <% /**
     * add favicon if the config exist
     */ %>
    <% if(theme.favicon) { %>
    <link type="image/x-icon" rel="shortcut icon"
          href="<%= config.root + theme.favicon %>">
    <% } %>

    <% /**
     * include css
     */ %>
     <%- css('css/style.css') %>

</head>
